# authjs config 
GITHUB_SECRET=
GITHUB_ID=
AUTH_SECRET=
DATABASE_URL=postgres://harshmangalam:123456@localhost:5432/threads
POSTGRES_URL_NON_POOLING=postgres://harshmangalam:123456@localhost:5432/threads